  page-profile {
    #map {
      height: 70%;
      background-color: black;
    }
    ion-label {
      color: inherit !important;
    }
  }

  //.item-input .label-md, .item-select .label-md, .item-datetime .label-md
