page-adresekle {
  #map2 {
    height: 25rem;
    background-color: black;
  }
}

///body > ion-app > ion-modal > div > page-adresekle > ion-content 'e işledi ve çalıştı
.content-md {
  background-color: transparent !important;
}
